<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Upload new file</h1>
    <form method="POST" enctype="multipart/form-data">
        <div>
            <label for="file">File:</label>
            <input type="file" name="file" id="file" required>
        </div>
        <div>
            <label for="encryption_algorithm">Encryption Algorithm:</label>
            <select name="encryption_algorithm" id="encryption_algorithm" required>
                <option value="fernet">Fernet</option>
                <option value="aes-gcm">AES-GCM</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
</body>
</html>
